<div class="container">
<h1>About the Course</h1>
<h2>Course Description</h2>
<p>In this class you will learn how to design, develop, and write information for electronic media. This includes designing and developing for mobile and desktop interfaces.</p>

<p>By the end of this course you should be able to</p>
<ul>

	<li>Design and develop web applications that solves a tangible problem for a specific user group using a UX process</li>
	<li>Conduct UX research and construct actionable profiles based on your research.</li>
	<li>Build web applications using Ruby on Rails and understand how the model-view-controller framework functions</li>
	<li>Work effectively in teams and use GitHub to manage your application</li>
	<li>Test the functionality of your application using formal and informal testing methodologies.</li>
</ul>


<h2>Course Materials</h2>
	<ul>
		<li>UX Strategy, Jaime Levy</li>
		<li>Design of Everyday things, Donald Norman</li>
		<li>Ruby on Rails Tutorial, Hartl</li>
	</ul>
</div>