 <% for assignment in @submission.assignments %>
 <h1>Assignment you're about to submit</h1>
	<h3>"<strong><%= assignment.name %></strong>", which is due on <strong>[<%= assignment.deadline %>]</strong></h3>
<% end %>

<h1>Content in your submission</h1>
<% if @submission.description? %>
	<p><%= @submission.description %></p>
<% else %>
	<p>You didn't write anything!</p>
<% end %>

<h1>Attached Document</h1>
<% if @submission.document? %>
	<p><%= @submission.document %></p>
<% else %>
	<p>You didn't attach anything!</p>
<% end %>
