<p><%= response.comment %></p>
<p><%= response.user.name %></p>
<%= link_to "Edit", edit_post_response_path(response.post, response) %>
<%= link_to "Delete", [response.post, response], method: :delete, data: {confirm: "Are you sure?"} %>


