<div class="container">
	<h1>Edit Reply</h1>
	<%= simple_form_for([@post, @response]) do |f| %>
	<%= f.text_area :comment, rows: 15, class: "form-control" %>
		<%= f.button :submit %>
	<% end %>
</div>