<div class="container">
<h1>TECM 4400 Discussion Board</h1>
	<% @posts.each do |post| %>
		<h2><%= link_to post.title, post %></h2>
		<p>Published <%= time_ago_in_words(post.created_at) %> ago
			by <%= post.user.name %>
		</p>


	<% end %>
	<% if user_signed_in? %>
		<%= link_to "New Post", new_post_path %>
	<% end %>
</div>